.signup_container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  
  .signup_container > form {
      width: 70%;
      border: 1px solid #dfdfdf;
      padding: 24px;
      border-radius: 5px;
      background: #fff;
  }
  
  .errors {
       color: red;
  }
  
.image {
    background: url(../Images/download.jpg) no-repeat center;
    background-size: cover;
    height: 1000px;
    position: relative;
}
 
/*
body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);
}*/
pre{
    width: 70%;
    color: #fff;
    font-size: larger;
}
button {
    background: #0563ba !important;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*Sign In*/
.signin_container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  
  .signin_container > form {
      width: 70%;
      border: 1px solid #dfdfdf;
      padding: 24px;
      border-radius: 5px;
      background: #fff;
  }