.signin_container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  
  .signin_container > form {
      width: 70%;
      border: 1px solid #dfdfdf;
      padding: 24px;
      border-radius: 5px;
      background: #fff;
  }
  